.content {
  padding: 20px;
}

.inactive {
  font-size: 12px;
  line-height: 20px;
}

@media only screen and (max-width: 1000px) {
  .wrap {
    .title-wrap {
      margin-inline: unset;
      margin-bottom: 15px;
    }
    .content {
      padding: 16px;
      border-radius: 6px;
    }
  }
}
